body {
    background-color: green;
    text-align: center;
}

h1 {
    color: darkred;
    background-color: aqua;
    
    margin: 50px 0 50px 0;
    padding: 5px;
    width: 500px;
    font-size: 2.5em;
}

.board {
    display: grid;
    justify-content: center;
    height: auto;
    width: auto;
    border: solid brown;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.title {
    color: white;
    font-weight: bold;
    font-size: larger;
}

#cardShown1, #cardShown2 {
    margin: auto;
    text-align: center;
    width: 200px;
    height: 350px;
    background-color: white;
}

button {
    color: rgb(109, 73, 5);
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
    font-weight: 500;
    justify-content: center;
}
